@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Racing Sans One", sans-serif;
  background: #121212;
  color: white;
  min-height: 100vh;
}

/* header */
header {
  background-color: var(--header-bg);
  padding: 20px 20px;
  text-align: center;
  box-sizing: border-box;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo img {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

nav a:hover {
  font-size: 24px;
}

.hero-section {
  position: relative;
}

.hero-section img {
  width: 100%;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

/* teams */
#Teams {
  padding: 2rem 1rem;
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

.teams-header {
  display: flex;
  gap: 50px;
}

.teams-header img[alt="f1 logo"] {
  width: 80px;
  margin-bottom: 0.5rem;
}

.teams-header h3 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

#Teams hr {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #ffff;
  border-radius: 2px;
}

/* GRID */
.teams-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.team {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  min-height: 180px; /* consistent height */
}

.team img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

.team-name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 2;
}

/* TEAM BACKGROUNDS */
.mclaren {
  background: linear-gradient(90deg, #ff8000, #ffb347, #1e1e1e);
}
.ferrari {
  background: linear-gradient(to right, #e80020, #ff4c4c, #ffffff);
}
.mercedes {
  background: linear-gradient(to right, #c0c0c0, #000000, #27f4d2);
}
.redbull {
  background: linear-gradient(to right, #1e2a53, #3671c6, #ffd700);
}
.williams {
  background: linear-gradient(to right, #001f5b, #1868db, #00aeef);
}
.astonmartin {
  background: linear-gradient(to right, #003b2e, #229971, #d6ff00);
}
.kicksauber {
  background: linear-gradient(to right, #52e252, #00ff99, #2e2e2e);
}
.racingbulls {
  background: linear-gradient(to right, #ffffff, #ff0000, #ffd700);
}
.haas {
  background: linear-gradient(to right, #000000, #b6babd, #ffffff);
}
.alpine {
  background: linear-gradient(to right, #00a1e8, #ff4ca3, #1e1e1e);
}