@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Racing Sans One", sans-serif;
  background: #121212;
  color: white;
  min-height: 100vh;
}

/* header */
header {
  background-color: var(--header-bg);
  padding: 20px 20px;
  text-align: center;
  box-sizing: border-box;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo img {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

nav a:hover {
  font-size: 24px;
}

.hero-section {
  position: relative;
}

.hero-section img {
  width: 100%;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
}